<div class="container mainContainer">
	<div class="jumbotron fondoNegro">
        	<div class="row">
                        <div class="ol-xs-12 col-sm-12 col-md-8 col-lg-8">
                        	<h1 class="font1">CDPSfy</h1>
                        	<h5> In this website you can listen the uplodaded tracks and upload your own tracks. 
                        </div>
                        <div class="ol-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <img class="portada" src="/images/Nota_musical.png" alt="Nota musical">
                	</div>
		</div>
	</div>
</div>
