<div class="container mainContainer ">
	<div class="jumbotron fondoNegro">
		<div class="row">
			<div class="ol-xs-12 col-sm-12 col-md-8 col-lg-8">
				<h1 class="font1">Upload</h1>
				<form action="http://www.cdpsfy.es:80/tracks" method="post" enctype="multipart/form-data">
<label class="upload_field">Subir track:</label>
                                  <input class="upload_field" type="file" name="track"/>
<span class="hint upload_field">Supported track files: mp3, wav, and
ogg</span>

                                  <label class="upload_field">Puedes subir una carátula también:</label>
                                  <input class="upload_field" type="file" name="cover"/>
<span class="hint upload_field">Supported cover files: jpg, jpeg, gif, and
png</span>

                                  <button class="hint upload_field" type="submit">Upload</button>
                                </form>

		        </div>
		        <div class="ol-xs-12 col-sm-12 col-md-4 col-lg-4">
		       		<img class="portada" src="/images/Nota_musical.png" alt="Nota musical">
			</div>
		</div>
	</div>
</div>
